
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="shortcut icon" type="static/image/png" href="images/favicon-16x16.png" />
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="" href="/rss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="A Developer blog for Chris Hughes. Specializes in JavaScript, Rust, Web development, SQL" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous" defer>
    </script>
  <script src="/static/js/menu.js" defer></script>
  <script src="/static/js/colors.js" defer></script>
</head>


<header class="desktop">
  <nav>
    <a href="/about" hx-get="/cards" hx-swap="innerHTML" hx-push-url="/" hx-target="#contentDiv">
      <h2>Chris Hughes dot Dev</h2>
    </a>
    <div class="social-links">
      <a href="/about" hx-get="/resume" hx-swap="innerHTML" hx-push-url="/resume"
        hx-target="#contentDiv">Resume</a>
      <a href="https://github.com/naokontai" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
      <a href="/about" hx-get="/about" hx-swap="innerHTML" hx-push-url="/about" hx-target="#contentDiv">About</a>
      <a href="mailto: chris@chris-hughes.dev">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="/rss">
        <i class="fa-solid fa-rss"></i>
      </a>
      <button id="theme-toggle">
        <i id="moon" class="fa-regular fa-moon"></i>
        <i id="bulb" class="fa-regular fa-lightbulb"></i>
      </button>
    </div>
  </nav>
</header>
<header class="mobile">
  <nav>
    <a href="/cards" hx-get="/cards" hx-swap="innerHTML" hx-push-url="/" hx-target="#contentDiv">
      <h2>Chris Hughes.Dev</h2>
    </a>
    <a href="javascript:void(0);" onclick="handleSocial()">
      <i class="fa fa-bars menu"></i>
    </a>
  </nav>
</header>
<div id="social-menu" style="display: none;">
  <div class="mobile-social">
    <a href="/rss">
      <i class="fa-solid fa-rss"></i>
    </a>
    <a href="mailto: chris@chris-hughes.dev">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a href="https://github.com/naokontai" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="/resume" hx-get="/resume" hx-swap="innerHTML" hx-push-url="/resume" hx-target="#contentDiv">
      <i class="fa-regular fa-address-card"></i>
    </a>
    <button id="theme-toggle-mobile">
      <i id="moon-mobile" class="fa-regular fa-moon"></i>
      <i id="bulb-mobile" class="fa-regular fa-lightbulb"></i>
    </button>
  </div>
</div>

<div id="contentDiv" class="contentDiv">

<title>Paper Picker</title>
<summary>
  A simple shell script to get random images for hyprpaper
</summary>
<h1>Paper Picker</h1>
<small class="date">Published: Mon, 01 Apr 2024 15:40:57:-4:00</small>
<br>
<small class="tech">Bash | Hyprland</small>

<p>
  I recently made the switch from Windows 11 using WSL to Arch using Hyprland as my desktop environment, and I couldn't
  be happier with the change. Windows 11 came pre-installed on my laptop, and I didn't initially get around to changing
  the OS. WSL is impressive in a sense, it's very good at what it does, but Windows in general is a pain and small
  issues kept cropping up, so I made the switch.
</p>

<p>
  This was also my first time using either Wayland or Pipewire/Wireplumber, so I was a bit concerned about using Wayland
  with my GTX 3060, but so far so it hasn't caused many issues. The only issue I haven't been able to resolve was that
  Emacs clients will crash when I switch desktops from time to time, but using the Emacs daemon isn't actually a part of
  my workflow, so I can happily overlook that for now until I figure it out or it gets fixed by an update.
</p>
<div id="outline-container-org4d6ea66" class="outline-2">
  <h2 id="org4d6ea66">The Script</h2>
  <div class="outline-text-2" id="text-org4d6ea66">
    <p>
      I was initially turned off by the simplicity of <a href="https://github.com/hyprwm/hyprpaper">hyprpaper</a>, but
      after closer inspection I realized that with a bit of effort and a shell script, it provided me with the tools I
      needed to configure it to work pretty much however I wanted. I set to work on making <a
        href="https://github.com/Naokotani/dotfiles/blob/master/.config/hypr/scripts/start_paper.sh">this script</a> to
      control how my wallpapers are loaded. I thought I would share how I did it in the hopes that it could be helpful
      to someone else doing a similar setup or perhaps someone could recommend some changes to improve it.
    </p>

    <div class="org-src-container">
      <pre class="src src-bash"><span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Setup wallaper directory and monitor names.</span>
        <span style="color: #af85ff;">dir</span>=<span
          style="color: #df805f;">"/home/naokotani/Pictures/wallpapers/"</span>
        <span style="color: #af85ff;">monitor1</span>=<span style="color: #df805f;">"eDP-1"</span>
        <span style="color: #af85ff;">monitor2</span>=<span style="color: #df805f;">"DP-1"</span>

        <span style="color: #5faaef; font-weight: bold;">cd</span> $<span style="color: #af85ff;">dir</span>

        <span style="color: #9f8f6a; font-style: italic;"># </span><span style="color: #9f8f6a; font-style: italic;">Get
          a list of the .png files in the directory.</span>
        <span style="color: #af85ff;">papers</span>=<span style="color: #379cf6;">(</span><span
          style="color: #df805f;">"${dir}"</span>*.png<span style="color: #379cf6;">)</span>

        <span style="color: #5faaef; font-weight: bold;">cd</span> /home/naokotani/.config/hypr/

        <span style="color: #9f8f6a; font-style: italic;"># </span><span style="color: #9f8f6a; font-style: italic;">Get
          the length of the list of files.</span>
        <span style="color: #af85ff;">length</span>=$<span style="color: #379cf6;">{</span>#<span
          style="color: #af85ff;">papers</span><span style="color: #d0730f;">[</span>@<span
          style="color: #d0730f;">]</span><span style="color: #379cf6;">}</span>
      </pre>
    </div>

    <p>
      This section sets everything up. I set the values for the wallpaper directory and my monitor names. This makes it
      easy to change later because I just need to change it once at the start of the file. I then cd into the directory
      and get the list of .png files. hyprpaper only works on .png, so I want to filter out any .jpg or other files that
      might be left in there so it doesn't break. I also remove my old hyprpaper.conf because I am going to be
      generating a new one from scratch. Finally, I get the length of the list of files that I will be using to choose a
      random wallpaper later.
    </p>

    <div class="org-src-container">
      <pre class="src src-bash"><span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Get the first random index.</span>
        <span style="color: #af85ff;">first</span>=$<span style="color: #379cf6;">(</span><span
          style="color: #d0730f;">(</span>1 + $<span style="color: #af85ff;">RANDOM</span> % $<span
          style="color: #af85ff;">length</span> - 1<span style="color: #d0730f;">)</span><span
          style="color: #379cf6;">)</span>

        <span style="color: #6f80ff; font-weight: bold;">function</span> <span style="color: #0dafdf;">dif_random</span>
        <span style="color: #379cf6;">{</span>
        <span style="color: #af85ff;">second</span>=$<span style="color: #d0730f;">(</span><span
          style="color: #6f80ff;">(</span>1 + $<span style="color: #af85ff;">RANDOM</span> % $<span
          style="color: #af85ff;">length</span> - 1<span style="color: #6f80ff;">)</span><span
          style="color: #d0730f;">)</span>

        <span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Check to see if the second random index is equal</span>
        <span style="color: #9f8f6a; font-style: italic;"># </span><span style="color: #9f8f6a; font-style: italic;">to
          the first, if so, find a new one.</span>
        <span style="color: #6f80ff; font-weight: bold;">if</span> <span style="color: #d0730f;">[</span> $<span
          style="color: #af85ff;">1</span> -eq $<span style="color: #af85ff;">second</span> <span
          style="color: #d0730f;">]</span>
        <span style="color: #6f80ff; font-weight: bold;">then</span>
        dif_random <span style="color: #df805f;">"$1"</span>
        <span style="color: #6f80ff; font-weight: bold;">else</span>
        <span style="color: #6f80ff; font-weight: bold;">return</span> $<span style="color: #af85ff;">second</span>
        <span style="color: #6f80ff; font-weight: bold;">fi</span>
        <span style="color: #379cf6;">}</span>

        <span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Make sure that there is more than one file.</span>
        <span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">This avoids an infite loop.</span>
        <span style="color: #6f80ff; font-weight: bold;">if</span> <span style="color: #379cf6;">[</span> $<span
          style="color: #af85ff;">length</span> -gt 1 <span style="color: #379cf6;">]</span>
        <span style="color: #6f80ff; font-weight: bold;">then</span>
        dif_random <span style="color: #df805f;">"$first"</span>
        <span style="color: #af85ff;">second</span>=$<span style="color: #af85ff;">?</span>
        <span style="color: #6f80ff; font-weight: bold;">else</span>
        <span style="color: #af85ff;">second</span>=$<span style="color: #af85ff;">first</span>
        <span style="color: #6f80ff; font-weight: bold;">fi</span>
      </pre>
    </div>

    <p>
      This little section is responsible for selecting a random paper by taking the length and deducting one to select a
      random index. Then the function <code>dif_random()</code> will get a second random number and check to see if it
      is the same as the first, if it is, it will run the function again with the first random number as the argument.
      Once it finds a valid number it returns it. There is no doubt a better way to do this, but this works well enough.
      Finally I check to make sure that the length is greater than 1 before I actually call the function. If it's not,
      it doesn't call <code>dif_random()</code> because that would end up causing a stack overflow or infinite loop,
      either way it would break the script.
    </p>

    <div class="org-src-container">
      <pre class="src src-bash"><span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Use the random indexes to get the two filenames</span>
        <span style="color: #af85ff;">paper_one</span>=$<span style="color: #379cf6;">{</span><span
          style="color: #af85ff;">papers</span><span style="color: #d0730f;">[</span>$<span
          style="color: #af85ff;">first</span><span style="color: #d0730f;">]</span><span
          style="color: #379cf6;">}</span>
        <span style="color: #af85ff;">paper_two</span>=$<span style="color: #379cf6;">{</span><span
          style="color: #af85ff;">papers</span><span style="color: #d0730f;">[</span>$<span
          style="color: #af85ff;">second</span><span style="color: #d0730f;">]</span><span
          style="color: #379cf6;">}</span>

        <span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Check to see if hyprpaper is running</span>
        <span style="color: #6f80ff; font-weight: bold;">if</span> pgrep -x <span
          style="color: #df805f;">"hyprpaper"</span> &gt; /dev/null
        <span style="color: #6f80ff; font-weight: bold;">then</span>
        <span style="color: #9f8f6a; font-style: italic;"># </span><span style="color: #9f8f6a; font-style: italic;">If
          hyprpaper is running, select two new preloaded wallpapers</span>
        hyprctl hyprpaper wallpaper <span style="color: #df805f;">"${monitor1},${paper_one}"</span>
        hyprctl hyprpaper wallpaper <span style="color: #df805f;">"${monitor2},${paper_two}"</span>
        <span style="color: #6f80ff; font-weight: bold;">else</span>
        <span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Remove the old conf file.</span>
        rm -f hyprpaper.conf

        <span style="color: #9f8f6a; font-style: italic;"># </span><span style="color: #9f8f6a; font-style: italic;">If
          it's not running, generate a new hyprpaper.conf</span>
        <span style="color: #6f80ff; font-weight: bold;">for</span> p<span style="color: #6f80ff; font-weight: bold;">
          in</span> <span style="color: #df805f;">"${papers[@]}"</span>;
        <span style="color: #6f80ff; font-weight: bold;">do</span>
        <span style="color: #5faaef; font-weight: bold;">echo</span> <span style="color: #df805f;">"preload =
          ${p}"</span> &gt;&gt; hyprpaper.conf
        <span style="color: #6f80ff; font-weight: bold;">done</span>

        <span style="color: #5faaef; font-weight: bold;">echo</span> <span style="color: #df805f;">"wallpaper =
          ${monitor1},${paper_one}"</span> &gt;&gt; hyprpaper.conf
        <span style="color: #5faaef; font-weight: bold;">echo</span> <span style="color: #df805f;">"wallpaper =
          ${monitor2},${paper_two}"</span> &gt;&gt; hyprpaper.conf

        <span style="color: #9f8f6a; font-style: italic;"># </span><span
          style="color: #9f8f6a; font-style: italic;">Start hyprpaper</span>
        hyprpaper &amp;
        <span style="color: #5faaef; font-weight: bold;">disown</span>
        <span style="color: #6f80ff; font-weight: bold;">fi</span>
      </pre>
    </div>

    <p>
      Finally, I use my newly created numbers to index into the papers list and grab two random file names. I then check
      to see if hyprpaper is running, if it is I load the new wallpapers, if it is not I generate a new
      <code>hyprpaper.conf</code> and start hyprpaper.
    </p>
  </div>
</div>
<div id="outline-container-org8d07679" class="outline-2">
  <h2 id="org8d07679">That's Great, but How Do I Use it?</h2>
  <div class="outline-text-2" id="text-org8d07679">
    <p>
      I place this script in two places in my <code>hypland.conf</code> file. First I put it as an exec-once command.
      This way whenever hyprland starts, it will run the script, find that hyprpaper is inevitably not running, generate
      the <code>hyprpaper.conf</code>, select two random wallpapers and start hyprpaper. If at any point I want to
      change my wallpaper list, I just need to change the directory in the script, or put new wallpapers in the
      wallpapers directory, <code>pkill -9 hyprpaper</code> and run the script. This will regenerate a new configuration
      from the directory and reload hyprpaper. I also bind the script to a keybind so that, whenever I feel the need, I
      can pick two new random wallpapers.
    </p>

    <p>
      Finally, you can use cron to have the script run on a schedule once an hour, once a day or whatever you like to
      periodically change your wallpaper. This shouldn't have cause any significant performance issues if it comes up in
      the middle of doing something else because the wallpapers are already pre-loaded into memory.
    </p>
  </div>
</div>
<div id="outline-container-org1a78653" class="outline-2">
  <h2 id="org1a78653">Other Observations</h2>
  <div class="outline-text-2" id="text-org1a78653">
    <p>
      I initially ran this script on about a dozen very large image files. As is pointed out in the documentation for
      hyprpaper, this both took a long time to load (I believe it was around 8 seconds), and took a decent chunk of
      memory. I was able to mitigate this problem a little bit by getting rid of a few of my least favorite wallpapers
      and then using <a href="https://imagemagick.org/index.php">ImageMagick</a> to reduce the size of the images down
      to my actual screen resolution by running <code>magick image.png --resize 2560x1440 image.png</code> you can also
      use this to switch from a different file type to a png, for example: <code>magick image.jpg --resize 2560x1440
        image.png</code> reducing the size of the images greatly reduced the time it took to load going down to perhaps
      a second or less (the initial images were something in the order of 8000x6000, which was quite excessive anyway).
    </p>

    <p>
      Another small issue with the script is that it will always choose two different images, but one or both of them
      might be the same as the one that is already loaded. I thought about using the suggested command from the wiki,
      <code>hyprctl hyprpaper listactive</code> to find the active paper, but for some reason it just wasn't working. I
      finally determined that this wasn't such a big issue. The wallpapers almost instantly, so its not a big deal to
      simple press the keybind twice if I get a result I don't like.
    </p>
  </div>
</div>
<div id="outline-container-org1130502" class="outline-2">
  <h2 id="org1130502">Getting a Random Image</h2>
  <div class="outline-text-2" id="text-org1130502">
    <p>
      (Credit to <a href="https://github.com/trevarj/dotfiles">trev</a> for these observations)
    </p>

    <p>
      My method for getting a random image involved using a recursive function that keeps getting called until two
      different random numbers are selected. It's also possible to use a while loop to accomplish the same thing, but
      the effective difference between the two is probably pretty trivial. Both would have the limitation of creating an
      infinite loop if fewer than two filenames are supplied, which requires the check to make sure <code>$length</code>
      is greater than 1. This solution requires quite a few lines of code and is a bit complex. It also depends on
      <code>$RANDOM</code>, which is a bash internal. A similar solution could be based on using the <a
        href="https://man7.org/linux/man-pages/man1/shuf.1.html">shuf</a> coreutil, which would be less complicated,
      require fewer lines of code and be more readable. If you wanted the script to be fully posix compliant, you could
      generate a random number yourself in the script instead of relying on <code>$RANDOM</code>.
    </p>
  </div>
</div>


</div>

<footer>
  <div>
    <a href="/">Home</a>
    <a href="mailto: chris@chris-hughes.dev">Email</a>
    <div>
      <small>&copy; Chris Hughes 2025</small>
    </div>
  </div>
</footer>

</html>
