{{define "content"}}
<summary>
  {{.Post.Summary}}
</summary>
<h1>{{.Title}}</h1>
<p><small class="date">Published: {{humanDate .Post.Date}}</small></p>
<p><small class="tech">{{.Post.TagString}}</small></p>
{{.Content}}
{{end}}
