<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Chris Hughes dot Dev</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png" />
  <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="Chris Hughes dot Dev" href="/rss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="A Developer blog for Chris Hughes. Specializes in JavaScript, Rust, Web development, SQL" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous" defer>
    </script>
  <script src="js/menu.js" defer></script>
  <script src="js/colors.js" defer></script>
</head>

<body>
  <header class="desktop">
    <nav>
      <a href="#" hx-get="/cards" hx-swap="innerHTML" hx-push-url="{{API_URL}}" hx-target="#contentDiv">
        <h2>Chris Hughes dot Dev</h2>
      </a>
      <div class="social-links">
        <a href="#" hx-get="/resume" hx-swap="innerHTML" hx-push-url="{{API_URL}}resume"
          hx-target="#contentDiv">Resume</a>
        <a href="https://github.com/naokotani" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
        <a href="#" hx-get="/about" hx-swap="innerHTML" hx-push-url="{{API_URL}}about" hx-target="#contentDiv">About</a>
        <a href="mailto: chris@chris-hughes.dev">
          <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://chris-hughes.dev/rss">
          <i class="fa-solid fa-rss"></i>
        </a>
        <button id="theme-toggle">
          <i id="moon" class="fa-regular fa-moon"></i>
          <i id="bulb" class="fa-regular fa-lightbulb"></i>
        </button>
      </div>
    </nav>
  </header>
  <header class="mobile">
    <nav>
      <a href="#" hx-get="/cards" hx-swap="innerHTML" hx-push-url="{{API_URL}}" hx-target="#contentDiv">
        <h2>Chris Hughes.Dev</h2>
      </a>
      <a href="javascript:void(0);" onclick="handleSocial()">
        <i class="fa fa-bars menu"></i>
      </a>
    </nav>
  </header>
  <div id="social-menu" style="display: none;">
    <div class="mobile-social">
      <a href="https://chris-hughes.dev/rss">
        <i class="fa-solid fa-rss"></i>
      </a>
      <a href="mailto: chris@chris-hughes.dev">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://github.com/Naokotani/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="#" hx-get="/resume" hx-swap="innerHTML" hx-push-url="{{API_URL}}resume" hx-target="#contentDiv">
        <i class="fa-regular fa-address-card"></i>
      </a>
      <button id="theme-toggle-mobile">
        <i id="moon-mobile" class="fa-regular fa-moon"></i>
        <i id="bulb-mobile" class="fa-regular fa-lightbulb"></i>
      </button>
    </div>
  </div>
  <div id="contentDiv" class="contentDiv" hx-on::after-swap="window.scrollTo({top: 0, behavior: 'smooth'})">
    {{{post}}}
    {{{content}}}
  </div>
  <div id="web-ring">
    {{{ring}}}
  </div>
</body>
<footer>
  <div>
    <a href="/">Home</a>
    <a href="mailto: chris@chris-hughes.dev">Email</a>
    <div>
      <small>&copy; Chris Hughes 2024</small>
    </div>
  </div>
</footer>

</html>
