{{define "footer"}}
<footer>
  <div>
    <a href="/">Home</a>
    <a href="mailto: {{.Contact.Email}}">Email</a>
    <div>
      <small>&copy; {{.Contact.Name}} {{.Date.Year}}</small>
    </div>
  </div>
</footer>
{{end}}
