{{define "footer"}}
<footer>
  <div>
    <a href="/">Home</a>
    <a href="mailto: chris@chris-hughes.dev">Email</a>
    <div>
      <small>&copy; Chris Hughes 2024</small>
    </div>
  </div>
</footer>
{{end}}
