{{define "base"}}
<!doctype html>
<html lang="en">
{{template "head" .}}
{{template "nav" .}}
<div id="contentDiv" class="contentDiv">
{{template "content" .}}
</div>
{{template "footer" .}}
</html>
{{end}}
